<header class="header">
  <div class="header-1">
    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Character Name</span>
        <input class="input text-input" type="text" [(ngModel)]="adventurer.characterName" />
      </label>
    </div>
  </div>

  <div class="header-2">
    <div class="input-set">
      <label class="input-label two-part">
        <span class="text-label">Class &amp; Level</span>
        <select class="input text-input" [(ngModel)]="adventurer.clss">
          <option val="">...</option>
          <option val="barbarian">Barbarian</option>
          <option val="bard">Bard</option>
          <option val="cleric">Cleric</option>
          <option val="druid">Druid</option>
          <option val="fighter">Fighter</option>
          <option val="monk">Monk</option>
          <option val="paladin">Paladin</option>
          <option val="ranger">Ranger</option>
          <option val="rogue">Rogue</option>
          <option val="sorcerer">Sorcerer</option>
          <option val="warlock">Warlock</option>
          <option val="wizard">Wizard</option>
        </select>
        <span class="input-2" [title]="adventurer.levelExplanation">{{ adventurer.level }}</span>
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Background</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Player Name</span>
        <input class="input text-input" type="text" [(ngModel)]="adventurer.playerName" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Race</span>
        <select class="input text-input" [(ngModel)]="adventurer.race">
          <option val="">...</option>
          <option val="dragonborn">{{ RaceEnum.dragonborn }}</option>
          <option val="dwarf">{{ RaceEnum.dwarf }}</option>
          <option val="elf">{{ RaceEnum.elf }}</option>
          <option val="gnome">{{ RaceEnum.gnome }}</option>
          <option val="halfElf">{{ RaceEnum.halfElf }}</option>
          <option val="halfOrc">{{ RaceEnum.halfOrc }}</option>
          <option val="halfling">{{ RaceEnum.halfling }}</option>
          <option val="human">{{ RaceEnum.human }}</option>
          <option val="tiefling">{{ RaceEnum.tiefling }}</option>
        </select>
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Alignment</span>
        <select class="input text-input" [(ngModel)]="adventurer.alignment">
          <option val="">...</option>
          <option [attr.val]="AlignmentEnum.lawfullGood">{{ AlignmentEnum.lawfullGood }}</option>
          <option [attr.val]="AlignmentEnum.nuetralGood">{{ AlignmentEnum.nuetralGood }}</option>
          <option [attr.val]="AlignmentEnum.chaoticGood">{{ AlignmentEnum.chaoticGood }}</option>
          <option [attr.val]="AlignmentEnum.lawfulNeutral">{{ AlignmentEnum.lawfulNeutral }}</option>
          <option [attr.val]="AlignmentEnum.nuetral">{{ AlignmentEnum.nuetral }}</option>
          <option [attr.val]="AlignmentEnum.chaoticNeutral">{{ AlignmentEnum.chaoticNeutral }}</option>
          <option [attr.val]="AlignmentEnum.lawfullEvil">{{ AlignmentEnum.lawfullEvil }}</option>
          <option [attr.val]="AlignmentEnum.nuetralEvil">{{ AlignmentEnum.nuetralEvil }}</option>
          <option [attr.val]="AlignmentEnum.chaoticEvil">{{ AlignmentEnum.chaoticEvil }}</option>
        </select>
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Experience Points</span>
        <input [(ngModel)]="adventurer.xp" class="input text-input" type="number" min="0" />
      </label>
    </div>
  </div>
</header>

<main class="adventure-stats">
  <section class="skills-section">
    <ul class="stats">
      <li class="stat" *ngFor="let stat of stats">
        <div class="stat-label">{{ stat }}</div>
        <div class="stat-modifier">
          {{ adventurer.statModifier(stat) | modifier }}

          <ul class="explanation tooltip">
            <li *ngFor="let part of adventurer.statModifierExplanation(stat)" class="explanation__part">
              <span class="explanation__part__amount">{{ part.isBase ? part.amount : (part.amount | modifier) }}</span>
              <span class="explanation__part__reason">{{ part.reason }}</span>
            </li>
          </ul>
        </div>
        <div class="stat-base">
          {{ adventurer.getStat(stat) }}

          <ul class="explanation tooltip">
            <li *ngFor="let part of adventurer.statExplanation(stat)" class="explanation__part">
              <span class="explanation__part__amount">{{ part.isBase ? part.amount : (part.amount | modifier) }}</span>
              <span class="explanation__part__reason">{{ part.reason }}</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="inspiration">inspiration</div>
    <div class="proficiency">
      +{{ adventurer.proficiencyBonus }}
      Proficiency Bonus
    </div>

    <div class="saving labeled-section">
      <h4 class="section-label">Saving Throws</h4>
      <ul class="checklist">
        <li class="check" *ngFor="let stat of stats">
          <label>
            <input class="checkbox" type="checkbox" [checked]="adventurer.hasSavingThrow(stat)"
              (change)="adventurer.setSavingThrow(stat, $event.target.checked)" />
            <span class="check--modifier">{{ adventurer.savingThrowModifier(stat) | modifier }}</span>
            <span class="check--label">{{ stat }}</span>
            <ul class="explanation tooltip">
              <li *ngFor="let part of adventurer.savingThrowExplanation(stat)" class="explanation__part">
                <span
                  class="explanation__part__amount">{{ part.isBase ? part.amount : (part.amount | modifier) }}</span>
                <span class="explanation__part__reason">{{ part.reason }}</span>
              </li>
            </ul>
          </label>
        </li>
      </ul>
    </div>

    <div class="skills labeled-section">
      <h4 class="section-label">Skills</h4>
      <ul class="checklist">
        <li class="check" *ngFor="let skill of skills">
          <label>
            <input class="checkbox" type="checkbox" [checked]="adventurer.hasSkill(skill)"
              (change)="adventurer.setSkill(skill, $event.target.checked)" />
            <span class="check--modifier">{{ adventurer.skillModifier(skill) | modifier }}</span>
            <span class="check--label">{{ skill }}</span>
            <span class="check--stat">({{ adventurer.skillStat(skill).substring(0,3) }})</span>
            <ul class="explanation tooltip">
              <li *ngFor="let part of adventurer.skillExplanation(skill)" class="explanation__part">
                <span
                  class="explanation__part__amount">{{ part.isBase ? part.amount : (part.amount | modifier) }}</span>
                <span class="explanation__part__reason">{{ part.reason }}</span>
              </li>
            </ul>
          </label>
        </li>
      </ul>
    </div>
  </section>
  <section class="passive">passive</section>
  <section class="other">other</section>
  <section class="battle">battle</section>
  <section class="equipment">equipment</section>
  <section class="personality">personality</section>
  <section class="attacks">attacks</section>
  <section class="features">features</section>
</main>
