<header class="header">
  <div class="header-1">
    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Character Name</span>
        <input class="input text-input" type="text" />
      </label>
    </div>
  </div>

  <div class="header-2">
    <div class="input-set">
      <label class="input-label two-part">
        <span class="text-label">Class &amp; Level</span>
        <input class="input text-input" type="text" />
        <input
          class="input input-2 number-input"
          type="number"
          [value]="levelObserver | async"
          [title]="levelExplanationObserver | async"
          readonly
        />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Background</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Player Name</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Race</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Alignment</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Experience Points</span>
        <input
          [(ngModel)]="xp"
          class="input text-input"
          type="number"
          min="0"
        />
      </label>
    </div>
  </div>
</header>

<main class="adventure-stats">
  <section class="skills">
    <ul class="stats">
      <li class="stat">
        <div class="stat-label">Strength</div>
        <div class="stat-bonus">-1</div>
        <div class="stat-base">7</div>
      </li>
      <li class="stat">
        <div class="stat-label">Dexterity</div>
        <div class="stat-bonus">0</div>
        <div class="stat-base">7</div>
      </li>
      <li class="stat">
        <div class="stat-label">Constitution</div>
        <div class="stat-bonus">+1</div>
        <div class="stat-base">7</div>
      </li>
      <li class="stat">
        <div class="stat-label">Intelligence</div>
        <div class="stat-bonus">+1</div>
        <div class="stat-base">17</div>
      </li>
      <li class="stat">
        <div class="stat-label">Wisdom</div>
        <div class="stat-bonus">+1</div>
        <div class="stat-base">7</div>
      </li>
      <li class="stat">
        <div class="stat-label">Charisma</div>
        <div class="stat-bonus">+1</div>
        <div class="stat-base">5</div>
      </li>
    </ul>
    <div class="inspiration">inspiration</div>
    <div class="proficiency">
      +{{ proficiencyBonusObserver | async }}
      Proficiency Bonus
    </div>
    <div class="saving">saving</div>
    <div class="skills">skills</div>
  </section>
  <section class="passive">passive</section>
  <section class="other">other</section>
  <section class="battle">battle</section>
  <section class="equipment">equipment</section>
  <section class="personality">personality</section>
  <section class="attacks">attacks</section>
  <section class="features">features</section>
</main>
