<header class="header">
  <div class="header-1">
    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Character Name</span>
        <input class="input text-input" type="text" />
      </label>
    </div>
  </div>

  <div class="header-2">
    <div class="input-set">
      <label class="input-label two-part">
        <span class="text-label">Class &amp; Level</span>
        <input class="input text-input" type="text" />
        <input
          class="input input-2 number-input"
          type="number"
          [value]="levelObserver | async"
          [title]="levelExplanationObserver | async"
          readonly
        />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Background</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Player Name</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Race</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Alignment</span>
        <input class="input text-input" type="text" />
      </label>
    </div>

    <div class="input-set">
      <label class="input-label">
        <span class="text-label">Experience Points</span>
        <input
          [(ngModel)]="xp"
          class="input text-input"
          type="number"
          min="0"
        />
      </label>
    </div>
  </div>
</header>

<main></main>
