html,
body {
  padding: 0;
  margin: 0;
}

body {
  --background: #ffffff;
  --mostly-background: #ffffffee;
  --text-color: #333;
  --link-color: #09f;
  --link-focus-outline: #0099ff99;
  --dim-color: #333333cc;
  --faint-background: #eeeeee;
  --faint-border: #00000055;
  --checkbox-selected: #393;

  @media screen {
    &.theme--dark {
      --background: #101010;
      --mostly-background: #101010ee;
      --text-color: #eee;
      --link-color: #090;
      --link-focus-outline: #00990099;
      --dim-color: #cccccccc;
      --faint-background: #333333;
      --faint-border: #ffffff55;
      --checkbox-selected: #393;
    }
  }

  background: var(--background);
  color: var(--text-color);
}

body,
input,
select,
button,
textarea {
  font-family: "Share Tech Mono", monospace;
  color: var(--text-color);
  font-size: 1em;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shadows Into Light", cursive;
  margin: 0 0 0.5em;
  padding: 0;
  font-weight: normal;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:focus {
    outline: none;
    color: var(--link-color);
    border-bottom: solid 0.1em var(--link-focus-outline);
  }
}

p {
  margin: 0;
  padding: 0;
}

dl {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5em 1em;

  dt {
    opacity: 0.8;
    grid-column: 1;
  }

  dd {
    grid-column: 2;
    margin: 0;
  }
}

input[type=checkbox] {
  cursor: pointer;
  height: 0;
  width: 0;
  visibility: hidden;

  &::after {
    visibility: visible;
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: var(--background);
    border: solid 0.1em var(--text-color);
    box-sizing: border-box;
    margin-top: -3px;
  }

  &:checked::after {
    background: var(--checkbox-selected);
  }
}

router-outlet,
router-outlet+* {
  grid-area: content;
}
