:host {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  gap: 1em 2em;
  grid-template-rows: min-content min-content 1fr;
  align-items: baseline;
  grid-template-areas:
    "title   title"
    "search  ."
    "results deets";

  // & > * {
  //   box-shadow: inset 0 0 10px #fff;
  // }
}

h2 {
  font-size: 2em;
  margin: 0 0 0.25em;
  padding: 0;
  grid-area: title;
}

.search {
  grid-area: search;
}

input {
  padding: 0.25em 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background: none;
  border-bottom: solid 1px #333;
  width: 100%;

  &:focus {
    outline: none;
    border-color: #09f;
  }
}

// .grid-list {
//   grid-area: results;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;

//   gap: 0.25em;
//   column-width: 250px;

//   &--item {
//     // border: solid 1px #eee;
//     margin: 0 0 0.5em;
//     padding: 0;
//     // padding: 0.5em 1em;
//     // font-size: 0.75em;

//     // a {
//     //   display: block;
//     // }
//   }
// }

.results {
  grid-area: results;
  // padding: 10px;
  min-height: 200px;
}

table {
  // display: none;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: 0.25em 0.5em;
  }

  th {
    font-weight: normal;
  }

  td {
    color: var(--dim-color);
  }

  tbody tr:first-child th {
    padding-top: 2em;
  }

  tr.selected td {
    background: var(--faint-background);
  }
}

.details {
  grid-area: deets;
  padding: 10px;
}
