:host {
  display: block;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;

  --background: #eeeeee;
  --mostly-background: #eeeeeeee;
  --text-color: #333;
  --link-color: #09f;
  --link-focus-outline: #0099ff99;
  --dim-color: #333333cc;
  --faint-background: #d9d9d9;
  --faint-border: #00000055;
  --checkbox-selected: #393;

  background: var(--background);
  color: var(--text-color);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0 -0.5em;

  li {
    margin: 0;
    padding: 0.5em;
  }
}
