:host {
  display: block;
}

.info {
  text-align: right;
  color: var(--dim-color);

  @media print {
    display: none;
  }
}

.columns {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

pre {
  font-size: 0.75em;
}

.cloud {
  transition: color 200ms ease-in;

  &--loading {
    color: #030;
  }

  &--synced {
    color: #090;
  }

  &--waiting {
    color: #399;
  }

  &--saving {
    color: #3cf;
  }
}
